<h1><%= t(".title") %></h1>

<p>
  <%= t(".total_features_note", total: @features.size) %>
</p>

<%= render 'search_form' %>

<table class='table table-bordered table-striped'>
  <tr>
    <th class="col3">#</th>
    <th><%= t(".table.th.name") %></th>
    <th><%= t(".table.th.description") %></th>
    <th class="col25"><%= t(".table.th.file") %></th>
  </tr>
  <% @features.each_with_index do |feature, i|%>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= i+1 %></td>
    <td><%= link_to feature.name, show_feature_cucumber_monitor_path(feature.name) %></td>
    <td><%= feature.description %></td>
    <td><%= feature.file %></td>
  </tr>
  <% end %>
</table>