<h1><%= t(".title") %></h1>

<%= render 'search_form' %>

<p>
  <%= link_to t("links.back_to_features_link"), features_cucumber_monitor_path %>
</p>

<div class="feature_container">
  <h4><%= t(".search_results") %></h4>
  <div class="steps">
  <% @search_results.each do |step| %>
    <strong><%= step.description %></strong><br />
    <em>(<%= "#{t(".scope")}: #{step.parent.name}" %>. <%= t(".file") %>: <%= link_to step.parent.feature.file, show_feature_cucumber_monitor_path(step.parent.feature.name) %>)</em>
    <hr /> 
  <% end %>
  </div>
</div>

<p>
  <%= link_to t("links.back_to_features_link"), features_cucumber_monitor_path %>
</p>