<%= stylesheet_link_tag 'cucumber_monitor' %>

<h1><%= "#{t(".feature")} #{@feature.name}" %></h1>

<h3><%= @feature.description %></h3>

<p>
<%= link_to t("links.back_to_features_link"), features_cucumber_monitor_path %>
</p>

<% if @feature.contexts.any? %>
<div class="feature_container context">
  <% @feature.contexts.each do |context|%>
    <h4><%= t(".background") %></h4>
    <div class="steps">
      <% context.steps.each do |step| %>
        <%= step.formatted.html_safe %>
        <% if step.not_a_table %>
          <hr />
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>

<div class="feature_container">
  <% @feature.scenarios.each_with_index do |scenario, i|%>
    <h4><%= "#{t(".scenario")} #{scenario.name}" %></h4>
    <div class="steps">
    <% scenario.steps.each do |step| %>
      <%= step.formatted.html_safe %>
      <% if step.not_a_table %>
        <hr /> 
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>

<%= link_to t("links.back_to_features_link"), features_cucumber_monitor_path %>